---
const TESTIMONIALS = [
  {
    name: "Matias Sanchez",
    ocupation: "Coach Fitness",
    quote: "El salto de calidad en mi landing fue increible. Muy recomendado",
    image: "/images/luta-testimonio-4.png",
  },
  // {
  //   name: "Jean Pierre",
  //   ocupation: "Coach Fitness",
  //   quote: "Quedé encantado con el resultado. Muy recomendado",
  //   image: "/images/luta-testimonio-1.webp",
  // },
  {
    name: "Cata Perez",
    ocupation: "Psicóloga Online",
    quote: "Hace mucho quería una web y me encanto como quedo.",
    image: "/images/luta-testimonio-2.webp",
  },
  {
    name: "Vicente Calderon",
    ocupation: "Dueño de agencia",
    quote: "Necesitábamos algo rápido y bien hecho. Cumplio al 100%.",
    image: "/images/luta-testimonio-3.webp",
  },
];
---

<section class="pb-[80px] pt-[60px]">
  <div class="tc-container">
    <div class="grid md:grid-cols-3 gap-8 md:gap-8">
      {TESTIMONIALS.map((testimonio) => (
        <div class="flex flex-col md:flex-row items-center justify-center gap-x-4 gap-y-4 md:gap-y-0">
          <div class="opacity-90">
            <img
              src={testimonio.image}
              alt={testimonio.name}
              class="rounded-full border-2 border-[#11111130] min-w-[64px] size-[64px]"
              width="64"
              height="64"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="text-sm text-center">
            <div class="flex justify-center gap-x-1 text-amber-400">
              {Array.from({ length: 5 }).map(() => (
                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                </svg>
              ))}
            </div>
            <div class="mt-2">
              <span class="text-gray-500">"{testimonio.quote}"</span>
            </div>
            <div class="pl-3 text-gray-500">
              <strong>{testimonio.name},</strong> {testimonio.ocupation}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
